@tailwind base;
@tailwind components;
@tailwind utilities;


.fp-watermark {
    display: none;
}

.element { animation: pulse 3s 1; }
@keyframes pulse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@layer base{
    p{
        @apply text-xl text-gray-400;
    }
}